<ion-modal-view>
  <ion-header-bar class="bar bar-header" style="background-color: #2f3541;">
    <button class="button button-clear button-primary" ng-click="modal.hide()" style="color: #989BA1;">Cancel</button>
    <h1 class="title" style="color: white;">Add col to conquered</h1>
    <button class="button button-clear button-primary" ng-click="savedata()" style="color: #989BA1;">Save</button>
  </ion-header-bar>
  <ion-content style="background-color: #252933;padding-top: 20px;">
    <div class="list">
      <label class="item item-input" style="background-color: #2f3541;">
        <span class="input-label" style="color: white; width: 100%;">Col</span>
        <span ng-model="currentColName" style="color: white; font-size: 16px; margin-right: 5px;">{{currentColName}}</span>
      </label>
      <label class="item item-input" style="background-color: #2f3541;">
        <span class="input-label" style="color: white; width: 100%;">Date</span>
        <input ng-model="newData.weight" value="{{newData.weight}}" type="date" style="color: white; font-size: 16px; max-width: 55px;text-align: end;">
      </label>
      <label class="item item-input" style="background-color: #2f3541;">
        <span class="input-label" style="color: white;width: 80%;max-width: 500px;">Bike Weight</span>
        <input ng-model="newData.bikeweight" value="{{newData.bikeweight}}" type="text" style="color: white; font-size: 16px; max-width: 55px;text-align: end;">
        <span class="" style="color: white;"> kg</span>
      </label>
      <label class="item item-input" style="background-color: #2f3541;">
        <span class="input-label" style="color: white;width: 85%;max-width: 500px;">PWR</span>
        <span ng-model="newData.pwr" style="color: white; font-size: 16px; margin-right: 20px">{{newData.pwr}}</span>
        <span class="" style="color: white;"> w</span>
      </label>
    </div>
  </ion-content>
</ion-modal-view>
