<ion-view view-title="User's cols">
    <ion-content class="has-header" style="background-color: #252933;">
        <ion-list>
            <ion-item type="item-text-wrap"
                      ng-repeat="item in conquredCols_data | orderBy:'col_title' | limitTo:listlength"
                      item="item" ng-click="showColDetails(item)" class="item-style">
                {{ item.col_title }}
            </ion-item>

        </ion-list>

        <ion-infinite-scroll ng-if="listlength<=conquredCols.length"
                             on-infinite="loadMore()" distance="3%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
