.headerColor {
    border-color: #2F3541!important;
    background-color: #2F3541!important;
    background-image: linear-gradient(0deg, #2F3541, #2F3541 1%, transparent 1%)!important;
}

div.tab-nav, .tabs {
    background-color: #2F3541;
}

.tabs-positive > .tabs, .tabs.tabs-positive{
	border-color: #2F3541!important;
    background-color: #2F3541!important;
    background-image: linear-gradient(0deg, #2F3541, #2F3541 1%, transparent 1%)!important;
}

.tabs .tab-item .icon.cols_on {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url(../img/cols_on.png);
  background-size: contain;
}

.tabs .tab-item .icon.cols_off {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url(../img/cols_off.png);
  background-size: contain;
}

.tabs .tab-item .icon.calculation_on {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/calculation_on.png');
  background-size:contain;
}

.tabs .tab-item .icon.calculation_off {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/calculation_off.png');
  background-size:contain;
}

.tabs .tab-item .icon.profile_on {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/profile_on.png');
  background-size:contain;
}

.tabs .tab-item .icon.profile_off {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/profile_off.png');
  background-size:contain;
}

/*Login page CSS*/

.logo-style{
	width: 65px;
    height: 60px;
    margin-left: 42vw;
    margin-top: 30vh;
}

.facebook-login-background{
    margin-left: 7vw;
    width: 80vw;
    margin-top: 30vh;
    height: 50px;
    line-height: 50px;
    background-color: #4867AB;
    text-align: center;
}

.facebook-login-style{
	color: white;
    font-size: 20px;
    text-align: center;
}

.email-login-background{
    margin-left: 7vw;
    width: 80vw;
    margin-top: 3vh;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #2F3541;
}

.email-login-style{
    color: #ffffff;
    font-size: 21px;
}

/*Email Login page CSS*/

.email-input-style{
	margin-top: 20vh;
	margin-bottom: 10px;
	font-size: 20px;
	width: 90%;
	margin-left: 5%;
	background-color: transparent;
	color: white; 
	border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.password-input-style{
	margin-bottom: 50px;
    font-size: 21px;
    width: 90%;
    margin-left: 5%;
    background-color: transparent;
    color: white;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.login-1-style{
	width: 90%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #2F3541;
    background-color: #E7DA85;
    margin-left: 5%;
    margin-bottom: 30px;
}

.login-2-style{
	width: 90%;
    font-size: 15px;
    text-align: center;
    margin-left: 5%;
}

/*Deux Mille Cols page CSS*/

.search-background{
	background-color: #1b1f26;
	height: 48px;
	margin-bottom: 0px;
}

.search-element{
	width:100%; 
	height: 40px;   
	text-align: center;
	font-size: 15px;
	background-color: #1b1f26;
	color: white;
}

.cols-title{
	text-align: center;
	font-size: 16px;
	height: 60px;
	background-color: #515966;
	color: white;
	line-height: 60px;
	width: 100%;
}

.cols-header{
	width: 100%;
    height: 115px;
    padding-top: 17px;
    padding-bottom: 16px;
}

.item-style{
    height: 57px;
    background-color: #252933;
    color: white;
    font-size: 16px;
}

/* Deux Mille Cols detail page CSS */

.slider {
  height: 100%;
}

.road-name{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	background-color: #2f3541;
	color: #d7cd80;
	margin-bottom: 1px;
	width: 100%;
	margin-top: 2px;
}

.road-detail-1{
	height: 32vh;
	width: 100%;
}

.road-detail-2{
	height: 16vh; 
	line-height: 12.5vh; 
	text-align: center; 
	display: inline-flex;
}

.road-detail-3{
	color: white; 
	width: 50vw;
}

.road-element-value{
	font-size: 18px; 
	text-align: center; 
	height: 2vh;
}

.road-element-text{
	font-size: 10px; 
	text-align: center; 
	height: 2vh;
}

.profile-detail-1{
	height: 50vh;
	display: inline-flex;
	width: 100%;
}

.profile-detail-2{
	height: 45vh;
    width: 47vw;
    background-color: #2f3541;
    border-radius: 20px;
    margin-left: 7px;
    margin-top: 10px;
}

.profile-image{
	width: 50px;
	margin-left: 18vw;
	margin-top: 20px;
	border-radius: 50%;
}

.profile-another-image{
	width: 50px;
	margin-left: 18vw;
	margin-top: 20px;
	border-radius: 50%;
}

.profile-ftp{
	color: white;
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

.profile-element-value{
	color: #d7cd80;
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
}

.profile-element-text{
	color: white;
	text-align: center;
	font-size: 10px;
	margin-top: -10px;
}

.profile-another-text{
	color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

/*Choose Member Page CSS*/
.item-text-center
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.item{
	background-color: transparent;
    color: white;
	font-size: 20px;
}

.item-thumbnail-left, .item-thumbnail-left .item-content {
	min-height: 80px;
}

.right-nav-style{
	color: #989BA1;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 5px;
}

.left-nav-style{
	color: #989BA1;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
}

/*Profile page CSS*/

.profile3-top-background{
	margin-top: 1px;
    height: 150px;
	width: 100%;
    background-color: #252933;
	display: inline-flex;
}

.profile3-avatar{
	width: 80px;
	height: 80px;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 15px;
}

.profile3-top-inner{
	margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 80vw;
}

.profile3-name{
	font-size: 20px;
    text-align: left;
    color: white;
}

.profile3-country{
	font-size: 15px;
    color: #63666D;
}

.profile3-level{
	font-size: 15px;
    color: #cec37a;
    border-color: chartreuse;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
}

.profile3-conquerd-cols{
	margin-top: 1px;
    background-color: #667080;
    color: white;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.profile3-get-jersey{
	height: 60px;
    background-color: #515966;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.containerDiv {
  	width: 100%;
  	margin-top: 1px;
}

.rowDiv {
  	border-bottom: 1px solid white;
  	background-color: #2f3541;
  	font-size: 18px;
  	height: 50px;
  	line-height: 50px;
}

.tablecellDiv1 {
  	padding-left: 20px;
  	text-align: left;
  	border-bottom: none;
  	color: white;
}

.tablecellDiv2 {
  	padding-right: 20px;
  	text-align: right;
  	margin-top: -50px;
  	border-bottom: none;
  	color: white;
}

/*Calculation page CSS*/
.top-text{
	color: #989BA1;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
}

.top-time{
	text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: white;
}
	/*1b1f26*/
	/*252933*/
	/*2f3541*/

input[type='range'] {
  width: 210px;
  height: 50px;
  cursor: pointer;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #E7DA85;
}
input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  background: #252933;
  border-radius: 50%;
  border: 2px solid #E7DA85;
}
input[type='range']::-webkit-slider-thumb::before {
  position: absolute;
  content: '';
  height: 10px;
  width: 500px; 
  left: -502px;
  top: 8px; 
  background: #777;
}

.left-top-text{
	text-align: left;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 13px;
}

.right-top-text{
	text-align: right;
    margin-top: -29px;
    color: white;
    font-size: 18px;
    margin-right: 13px;
}

/*ionic modal page(choose member page & profile edit page) css*/

.display-label{
	color: white;
	width: 80%;
	max-width: 500px;
}

.input-value{
	color: white; 
	font-size: 16px;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
